* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(images/space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Exo 2', sans-serif;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-content: space-between;
    background-color: #000;
    color: #FFF;
}

header {
    font-size: 2.5rem;
    text-shadow: 0 0 .5rem #FFF;
    text-align: center;
}

main {
    box-shadow: 0 0 .7rem #FFF;
    border: 1px solid #FFF;
    border-radius: 2px;
}

footer {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    text-shadow: 0 0 .9rem #FFF;
}

footer a:nth-child(3) {
    font-size: 1rem;
}

button {
    font-family: 'Exo 2', sans-serif;
    width: 70px;
    height: 70px;
    font-size: 1.3rem;
    cursor: pointer;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: #FFF;
    border: 1px solid #303030;
}

button:hover {
    text-shadow: 0 0 .5rem #FFF;
}

button:active {
    font-size: 2rem;
    border: 2px solid #FFF;
    border-radius: 2px;
    box-shadow: 0 0 .5rem #FFF;
}

#display-container {
    width: 280px;
    pointer-events: none
}

#calcDisplay {
    font-family: 'Exo 2', sans-serif;
    width: 100%;
    height: 40px;
    font-size: 1rem;
    text-align: right;
    border: none;
    background-color: #000;
    color: #FFF;
    text-shadow: 0 0 .5rem #FFF;
    padding-right: 10px;
}

#display {
    font-family: 'Exo 2', sans-serif;
    width: 100%;
    height: 70px;
    font-size: 1.5rem;
    text-align: right;
    border: none;
    background-color: #000;
    color: #FFF;
    text-shadow: 0 0 .5rem #FFF;
    padding-right: 10px;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 70px;
    grid-template-rows: 1fr 4fr;
    justify-items: center;
}

#clearAndDelete {
    grid-column: 1 / 3;
    grid-row: 1;
    display: flex;
    width: 210px;
}

#numbers {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

#numbers button:nth-child(10) {
    grid-column: 1 / 3;
    grid-row: 4;
    width: auto;
}

#numbers button:nth-child(11) {
    grid-column: 3 / 4;
    grid-row: 4;
}

#symbols {
    display: grid;
    grid-column: 3;
    grid-row: 1 / 3;
}


